<li class="p-like h-cite">
	<span class="p-author h-card">
		<%= link_to like.author_url, class: "#{like.entry_url_host.parameterize} avatar u-url", title: "#{like.author_name} liked this on #{like.entry_url_host}." do %>
			<%= author_avatar_image_tag like, alt: like.author_name, class: 'p-name u-photo' %>
		<% end %>
	</span>
	<%= link_to "View on #{like.entry_url_host}.", like.entry_url, :'aria-hidden' => true, class: 'u-url' %>
</li>