<li class="p-repost h-cite">
	<span class="p-author h-card">
		<%= link_to repost.author_url, class: "#{repost.entry_url_host.parameterize} avatar u-url", title: "#{repost.author_name} shared this on #{repost.entry_url_host}." do %>
			<%= author_avatar_image_tag repost, alt: repost.author_name, class: 'p-name u-photo' %>
		<% end %>
	</span>
	<%= link_to "View on #{repost.entry_url_host}.", repost.entry_url, :'aria-hidden' => true, class: 'u-url' %>
</li>