@mixin color($map, $key: mid) {
	color: map-get($map, $key);
}

@mixin bg-color($map, $key: mid) {
	background-color: map-get($map, $key);
}

@mixin border-color($map, $key: mid) {
	border-color: map-get($map, $key);
}