<%- @page_title = "#{resource_type.capitalize} Archives" -%>

<header class="content-header">
	<h1><%= resource_type.capitalize %> Archives</h1>
</header>

<div class="content-container">
	<%- if @years.any? -%>
		<ol class="years-list">
			<%- @years.each do |year| -%>
				<li><%= link_to year, send("annual_archives_#{resource_type}_path", year), rel: 'archives' %></li>
			<%- end -%>
		</ol>
	<%- else -%>
		<p>No <%= resource_type %> found!</p>
	<%- end -%>
</div>