<div class="bio p-author h-card">
	<p class="p-note">Hi! I’m <span class="p-name"><%= settings.user['name'] %></span>. You’re reading <%= link_to settings.site['title'], root_path, class: 'u-url' %>.</p>
</div>