<article class="p-comment h-cite">
	<div class="e-content">
		<p><a class="u-url p-name"></a> references this post.</p>
	</div>

	<footer>
		<p><a class="p-author h-card"><img class="u-photo"> <span class="p-name"></span></a> published this on <time class="dt-published"></time>.</p>
	</footer>
</article>