<article class="response p-comment h-cite" id="comment-<%= webmention.id %>">
	<div class="response-content e-content">
		<%= webmention.entry_content %>
	</div>

	<footer class="response-footer">
		<p>
			<%= link_to %Q{#{image_tag(webmention.author_photo, class: 'avatar u-photo')} <span class="p-name">#{webmention.author_name}</span>}, webmention.author_url, class: 'p-author h-card' %>
			responded on
			<%= link_to %Q{<time class="dt-published" datetime="#{webmention.published_at.to_s(:iso8601)}">#{webmention.published_at.to_s(:display)}</time>}, webmention.entry_url, class: 'permalink u-url' %>.
		</p>
	</footer>
</article>