<article class="p-comment h-cite">
	<div class="e-content"></div>

	<footer>
		<p>
			<a class="p-author h-card"><img class="u-photo"> <span class="p-name"></span></a> responded on
			<a class="u-url"><time class="dt-published"></time></a>.
		</p>
	</footer>
</article>