<% if resource.responses.any? %>
	<header class="responses-header">
		<h1>Responses</h1>
	</header>

	<ol class="responses-list">
		<% resource.responses.each do |response| %>
			<li>
				<%= partial "shared/#{response.webmention_type}_hcite", locals: { webmention: response } %>
			</li>
		<% end %>
	</ol>
<% end %>

<% if resource.likes.any? %>
	<div class="avatars-container">
		<h2>Likes</h2>

		<ol class="avatars-list">
			<% resource.likes.each do |like| %>
				<li class="h-card">
					<%= link_to image_tag(like.author_photo, alt: like.author_name, class: 'p-name u-photo'), like.author_url, class: 'u-url' %>
				</li>
			<% end %>
		</ol>
	</div>
<% end %>

<% if resource.reposts.any? %>
	<div class="avatars-container">
		<h2>Shares</h2>

		<ol class="avatars-list">
			<% resource.reposts.each do |repost| %>
				<li class="h-card">
					<%= link_to image_tag(repost.author_photo, alt: repost.author_name, class: 'p-name u-photo'), repost.author_url, class: 'u-url' %>
				</li>
			<% end %>
		</ol>
	</div>
<% end %>