<form action="<%= webmentions_path %>" class="webmention-form" method="post">
	<input type="hidden" value="<%= settings.site['url'] %>" name="referer">
	<input type="hidden" value="<%= target %>" name="target">

	<label for="webmention_source">Have you written a response to this? Let me know the URL:</label>

	<div class="inline-form-fields">
		<input type="url" id="webmention_source" name="source" placeholder="http://…" required>
		<button type="submit">Submit</button>
	</div>
</form>