%button {
	-webkit-appearance: none;
	border: 1px solid transparent;
	@include border-radius;
	cursor: pointer;
	display: inline-block;
	height: auto;
	line-height: 1.125;
	padding: $spacing-1 $spacing-2;
	text-decoration: none;
	white-space: nowrap;
}

%button--blue {
	@extend %button;
	@include bg-color($blue);
	color: #fff;

	&:focus,
	&:hover {
		@include bg-color($blue, dark);
		color: #fff;
	}
}

%button--grey {
	@extend %button;
	background-color: $darken-1;

	&:focus,
	&:hover {
		background-color: $darken-2;
	}
}

%button--green {
	@extend %button;
	@include bg-color($green);
	color: #fff;

	&:focus,
	&:hover {
		@include bg-color($green, dark);
		color: #fff;
	}
}

%button--red {
	@extend %button;
	@include bg-color($red);
	color: #fff;

	&:focus,
	&:hover {
		@include bg-color($red, dark);
		color: #fff;
	}
}