<article class="h-entry">
	<h1 class="p-name"><a href="http://example.com/foo/bar" class="u-url">Sample source page title</a></h1>
	<time class="dt-published" datetime="2014-09-21T19:23:11Z">September 21st, 2014 at 7:23 pm UTC</time>

	<div class="e-content">
		<p>Sample source post body.</p>
	</div>

	<footer class="p-author h-card">
		<img src="http://www.placecage.com/150/150" class="u-photo">
		<a href="http://example.com/" class="p-name u-url">Foo Bar</a>
	</footer>
</article>