<%- @page_title = "Editing “#{@link.title}”" -%>

<header class="edit-content-header">
	<h1><%= @page_title %></h1>
</header>

<%= render 'form' %>

<%= render 'francis_cms/shared/syndications_form', resource: @link %>