<header class="content-header">
	<h1>Editing “<%= @link.title %>”</h1>
</header>

<form action="<%= link_path(@link) %>" method="post">
	<input type="hidden" name="_method" value="put">

	<%= partial :'links/form' %>
</form>