<%- @page_title = "Editing “#{@link.title}”" -%>

<header class="edit-content-header">
	<h1>Editing “<%= @link.title %>”</h1>
</header>

<%= render 'form' %>

<%#= partial :'shared/syndication_form', locals: { resource: @link, resource_type: 'link' } %>