<% if @links.empty? %>
	<p>No links found!</p>
<% else %>
	<ol>
		<% @links.each do |link| %>
			<li>
				<%= link_to link.title, link.url %>

				<% if link.body? %>
					<%= link.to_html %>
				<% end %>

				<%= link_to '∞', link_path(link.id) %>
			</li>
		<% end %>
	</ol>
<% end %>

<%= link_to 'Add a new link', new_link_path %>