<%- content_for :main_classes, 'h-feed' -%>

<header class="content-header">
	<h1 class="p-name">Links</h1>
</header>

<div class="entries-container">
	<%- if @links.any? -%>
		<ol class="entries" reversed>
			<%- @links.each do |link| -%>
				<li>
					<%= render 'shared/link_hentry', link: link %>
				</li>
			<%- end -%>
		</ol>

		<%= will_paginate @links %>
	<%- else -%>
		<p>No links found!</p>
	<%- end -%>
</div>

<footer class="content-footer">
	<%= render 'shared/author_hcard' %>
</footer>