<% content_for :main_classes do %>h-feed<% end %>

<header class="content-header">
	<h1 class="p-name">Links</h1>
</header>

<% if @links.any? %>
	<ol class="entries" reversed>
		<% @links.each do |link| %>
			<li>
				<%= partial 'shared/link_hentry', locals: { link: link } %>
			</li>
		<% end %>
	</ol>
<% else %>
	<p>No links found!</p>
<% end %>

<footer class="content-footer">
	<%= partial 'shared/author_hcard' %>
</footer>