/* @group General form styles */

	input[type="checkbox"] {
		margin-right: $spacing-1;
	}

	textarea {
		height: 16rem;
		resize: vertical;
	}

/* @end */

/* @group Specific form styles */

	@include breakpoint($bp-narrow) {
		.url-field {
			@include table;
		}

		.url-input {
			@include table-cell;
		}
	}

	.url-prefix {
		@include color($grey, light);
		display: block;
		margin-bottom: $spacing-1;

		@include breakpoint($bp-narrow) {
			@include table-cell;
		}
	}

/* @end */

/* @group Form errors */

	.form-errors {
		background-color: $darken-1;
		@include color($red);
		margin-bottom: $spacing-3;
		padding: $spacing-2;

		h2 {
			@include font-size(4);
			margin-bottom: $spacing-2;
			margin-top: 0;
		}

		ul {
			margin-bottom: 0;
		}

		li {
			margin-bottom: $spacing-1;
		}
	}

/* @end */