default: &default
  adapter: postgresql
  encoding: utf8
  pool: 5
  username:
  password:
  host: localhost

development:
  <<: *default
  database: franciscms_development

test:
  <<: *default
  database: franciscms_test

production:
  <<: *default
  database: franciscms_production
  username: franciscms
  password: <%= ENV['FRANCISCMS_DATABASE_PASSWORD'] %>
