# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 0986000b21d74cb0a1317290bc6cd39d940d58b1509504611448dc8e6db7db04c2ab20de2eac83c3a2b5027a4ce0de2de1270b538bcd0b01d82aa05d4814c589

test:
  secret_key_base: 6e78c141f17d81e4656f8741018b9f88340280da273aee020c4a22fe12755943ff8d7109322ec21332ddfe0d5d884a661d6e3da3b8bde61242784e10a8f83957

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
