<header class="content-header">
	<h1>Tags</h1>
</header>

<%- if @tags.any? -%>
	<ol class="tags">
		<%- @tags.each do |tag| -%>
			<li><%= link_to tag.name, tag_path(tag) %></li>
		<%- end -%>
	</ol>
<%- else -%>
	<p>No tags found!</p>
<%- end -%>

<footer class="content-footer">
	<%= render 'shared/author_hcard' %>
</footer>