<%- @page_title = "Content tagged “#{@tag.name}”" -%>
<%- content_for :main_classes, 'h-feed' -%>

<header class="content-header">
	<h1 class="p-name">Content tagged  “<%= @tag.name %>”</h1>
</header>

<div class="entries-container">
	<%- if @results.any? -%>
		<ol class="entries" reversed>
			<%- @results.each do |result| -%>
				<%- result_type = result.class.name.downcase -%>
				<li>
					<%= render "shared/#{result_type}_hentry", result_type.to_sym => result %>
				</li>
			<%- end -%>
		</ol>
	<%- else -%>
		<p>No content tagged “<%= @tag.name %>” found!</p>
	<%- end -%>
</div>

<footer class="content-footer">
	<%= render 'shared/author_hcard' %>
</footer>