$blue: (
	mid: #4678b9,
	dark: #3f6ca7,
	darker: #465a78
);

$green: (
	mid: #0a0,
	dark: #080
);

$grey: (
	lighter: #ddd,
	light: #999,
	mid: #777,
	dark: #555,
	darker: #333
);

$red: (
	mid: #c00,
	dark: #a00
);

$darken: (
	rgba(#000, 0.0625),
	rgba(#000, 0.125),
	rgba(#000, 0.25),
	rgba(#000, 0.5)
);

$darken-1: nth($darken, 1);
$darken-2: nth($darken, 2);
$darken-3: nth($darken, 3);
$darken-4: nth($darken, 4);