.avatars-container {
	margin-bottom: $spacing-3;

	&:not(:last-child) {
		float: left;
		padding-right: $spacing-2;
		width: 50%;
	}

	& + & {
		float: right;
		padding-left: $spacing-2;
		width: 50%;
	}

	@include breakpoint($bp-narrow) {
		h2 {
			@include font-size(2);
		}
	}
}