<header class="edit-content-header">
	<h1>Editing “<%= @post.title %>”</h1>
</header>

<form action="<%= post_path(@post) %>" method="post">
	<input type="hidden" name="_method" value="put">

	<%= partial :'posts/form' %>
</form>

<%= partial :'shared/syndication_form', locals: { resource: @post, resource_type: 'post' } %>