<%- @page_title = "Editing “#{@post.title}”" -%>

<header class="edit-content-header">
	<h1>Editing “<%= @post.title %>”</h1>
</header>

<%= render 'form' %>

<%= render 'shared/syndication_form', resource: @post %>