<% if @posts.empty? %>
	<p>No posts found!</p>
<% else %>
	<ol>
		<% @posts.each do |post| %>
			<li>
				<%= link_to post.title, post_path(post.slug) %>
				<% if post.excerpt? %>
					<p><%= post.excerpt %></p>
				<% end %>
			</li>
		<% end %>
	</ol>
<% end %>