<h1>Posts</h1>

<%- if @posts.any? -%>
	<ul>
		<%- @posts.each do |post| -%>
			<li>
				<%= link_to post.title, post_path(post) %>
			</li>
		<%- end -%>
	</ul>
<%- else -%>
	<p>No posts!</p>
<%- end -%>

<%= link_to 'New Post', new_post_path %>