<% content_for :main_classes do %>h-feed<% end %>

<header>
	<h1 class="p-name">Posts</h1>
</header>

<% if @posts.any? %>
	<ol reversed>
		<% @posts.each do |post| %>
			<li>
				<%= partial 'shared/post_hentry', locals: { post: post } %>
			</li>
		<% end %>
	</ol>
<% else %>
	<p>No posts found!</p>
<% end %>

<footer>
	<%= partial 'shared/author_hcard' %>
</footer>