.bio {
	@include margin-y(4);

	p {
		font-family: "Open Sans", sans-serif;
		@include font-size(4);
		font-weight: bold;
		margin: 0;

		@include breakpoint($tp-wide) {
			@include font-size(2);
		}
	}
}