.entry-header {
	margin-bottom: $spacing-2;
}

.entry-title {
	@include font-size(4);
	margin: 0;

	@include breakpoint($tp-medium) {
		@include font-size(2);
	}
}

.entry-content,
.entry-excerpt {
	p {
		margin-bottom: $spacing-2;
	}
}

.entry-footer {
	@include color($grey, light);
	@include font-size(6);

	p {
		margin: 0;
	}

	a {
		@extend %anchor--grey;
	}
}

.entry-tags {
	@extend %reset-list;

	dt,
	dd {
		display: inline-block;
	}

	dt {
		margin-right: $spacing-1;
	}

	dd {
		margin: 0;

		&:after {
			content: ", ";
		}

		&:last-child:after {
			content: "";
		}
	}
}