.recent-list {
	list-style: disc;
	padding-left: $spacing-2;

	@include breakpoint($bp-wide) {
		padding-left: 0;
	}

	li {
		margin-bottom: $spacing-2;
	}

	.entry-header {
		margin-bottom: $spacing-1;
	}

	.entry-title {
		@include font-size(4);
	}
}