.tags {
	@extend %clearfix;
	@extend %reset-list;
	padding-bottom: nth($spacing, 4);
	@include thick-border;

	li {
		float: left;
		margin: 0 nth($spacing, 1) nth($spacing, 1) 0;
	}

	a {
		@extend %button--grey;
	}
}