.tags {
	@extend %clearfix;
	@extend %reset-list;
	padding-bottom: $spacing-4;
	@include thick-border;

	li {
		float: left;
		margin: 0 $spacing-1 $spacing-1 0;
	}

	a {
		@extend %button--grey;
	}
}