<div class="admin-panel">
	<%= yield :admin_panel_extras %>

	<menu class="global">
		<li><%= link_to 'New post', francis_cms.new_post_path %></li>
		<li><%= link_to 'New link', francis_cms.new_link_path %></li>
	</menu>
</div>