<%= form_tag action, class: 'delete-form', 'data-confirm': "Are you sure you want to delete this #{resource_type.singularize}?", method: :delete do %>
	<button type="submit" class="delete">Delete</button>
<% end %>