<header class="content-header">
	<h1>Terribly sorry about that.</h1>
</header>

<p>The tiny robots that power this Internet destination couldn’t find the page you requested.</p>
<p>Why not pop on over to <%= link_to 'the home page', root_path %> and browse around?</p>