<!doctype html>
<html lang="en-US">
<head>
	<meta charset="utf-8">

	<title>FrancisCMS</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

	<nav role="navigation">
		<ul>
			<li><%= link_to 'Home', root_path, rel: 'home' %></li>
			<li><%= link_to 'Posts', posts_path %></li>
		</ul>
	</nav>

	<main role="main">
		<%= yield %>
	</main>

</body>
</html>