<form action="https://indieauth.com/auth" method="get">
	<input type="hidden" name="client_id" value="<%= base_url %>">
	<input type="hidden" name="redirect_uri" value="<%= url_for auth_path %>">

	<ul>
		<li>
			<label for="auth_url">URL</label>
			<input type="url" name="me" id="auth_url" required>
		</li>
		<li>
			<button type="submit">Submit</button>
		</li>
	</ul>
</form>