<header class="content-header">
	<h1>Log In</h1>
</header>

<form action="https://indieauth.com/auth" method="get">
	<input type="hidden" name="client_id" value="<%= base_url %>">
	<input type="hidden" name="redirect_uri" value="<%= auth_url %>">

	<label for="auth_url">URL</label>

	<div class="inline-form-fields">
		<input type="url" name="me" id="auth_url" placeholder="http://…" required>
		<button type="submit">Submit</button>
	</div>
</form>